@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

header {
  font-family: "Special Elite", cursive;
}

body {
  background-color: black;
  color: white;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

li {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

h1 {
  font-family: "Special Elite", cursive;
  font-size: 50px;
  text-align: center;
}

h2 {
  font-size: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h3 {
  font-size: 30px;
  font-family: sans-serif;
}

h4 {
  font-size: 80px;
  color: rgba(206, 206, 206, 0.315);
  font-family: sans-serif;
}

td {
  vertical-align: top;
}

.service-image {
  width: 40%;
}

.box {
  border: 2px solid rgb(8, 173, 151);
  border-radius: 5px;
}

.cv-picture {
  width: 50%;
  height: auto;
}

.table-cv {
  vertical-align: center;
}
.corect-position-table-cv {
  vertical-align: middle;
}

.nav td {
  text-align: center;
  height: 30px;
  vertical-align: bottom;
}

/* unvisited link */
a:link {
  color: rgb(0, 255, 157);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: green;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: hotpink;
  text-decoration: none;
}

/* selected link */
a:active {
  color: blue;
  text-decoration: none;
}
