@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

body {
  background-color: black;
  color: white;
}

header {
  font-family: "Special Elite", cursive;
}

header h1 {
  color: #46fc46;
  font-size: 48px;
  text-align: center;
}

nav {
  font-family: Carlito;
  font-size: 24px;
}

main h2 {
  font-family: KacstBook;
  color: #9696ff;
  font-size: 34px;
}

main h3 {
  color: #c284ee;
  font-family: monospace;
  font-size: 24px;
}

main h4 {
  font-family: Impact;
  font-size: 38px;
  color: rgba(252, 252, 252, 0.3);
}

main p {
  font-family: Ebrima;
}

main img {
  width: 50%;
  height: auto;
  border-radius: 50px;
}

main a {
  font-family: Bahnschrift;
}

main li {
  font-family: Dialog;
  /*font-size: 24px;*/
}

/* unvisited link */
a:link {
  color: rgb(0, 255, 157);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #0387fa;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: hotpink;
  text-decoration: none;
}

/* selected link */
a:active {
  color: blue;
  text-decoration: none;
}
